{% extends 'base.html' %}
{% block header %}
<title>fasthx example with Jinja2</title>
{% endblock header %}

{% block content %}
<form hx-post="/htmx/search" hx-target="#search-result">
    <div>
      <label>First Name</label>
      <input type="text" name="name" value="Joe" class="form-control">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" name="last_name" value="Blow" class="form-control">
    </div>
    <div class="form-group">
      <label>Email Address</label>
      <input type="email" name="email" value="joe@blow.com" class="form-control">
    </div>
    <button class="btn">Submit</button>
  </form>
  <div id="search-result"></div>
{% endblock content %}